{% extends "base.html.twig" %}

{% block title %}Ajouter une review{% endblock %}

{% block body %}
<div class="container bg-lighttt pt-5">
    
    <div class="row mb-2">

        <div class="col">

            <div class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
            <h1>Ajouter une review</h1>
                <div class="col-4 movie__poster img-thumbnail"
                    style="background-image: url('{{ currentMovie.poster }}');">
                    <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                    <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                </div>

                
                <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                    <h2>{{ currentMovie.title }}</h2>
                {# @link https://symfony.com/doc/5.4/forms.html#rendering-forms #}
                {# @link https://symfony.com/doc/5.4/forms.html#client-side-html-validation #}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form__post'}}) }}

                    {# Rend tous les champs du formulaire #}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                {{ form_end(form) }}
                </div>
                
            </div>
        </div>
    </div>
</div>
    

{% endblock %}